html.with-panel-left-reveal .panel-backdrop {
    opacity: 0.75;
    background: #000000;
}

.ios .navbar~.page-with-subnavbar:not(.no-navbar) .page-content,
.ios .page-with-subnavbar .navbar~.page-content,
.ios .navbar~*:not(.no-navbar) .subnavbar~.page-content,
.ios .navbar~*:not(.no-navbar) .subnavbar~* .page-content {
    padding-top: calc(50px + 1.35rem);
}

.ios .navbar~.page-with-subnavbar:not(.no-navbar) .subnavbar,
.ios .navbar~.subnavbar {
    top: 50px;
}
.ios .navbar-inner{
    padding: 0!important;
}
.ios .navbar~*:not(.no-navbar) .page-content,
.ios .navbar~.page-content {
    top: 50px;
}

.ios .navbar.navbar-hidden~*:not(.no-navbar) .page-content,
.ios .navbar~.page-content {
    top: 0;
}

.ios .block-strong:before,
.ios .block-strong:after {
    background: initial;
}

.ios .row {
    margin: 0.4rem 0;
}

.ios a {
    color: #000000;
}

.ios .navbar~*:not(.no-navbar) .page-content,
.ios .navbar~.page-content {
    padding-top: 0px;
}

.ios .toolbar {
    background: #fff;
    z-index: 999999;
}

.ios .navbar {
    background: #fff;
    background-size: contain;
    height: 50px;
    /* padding-top: 10px; */

}

.ios .navbar:after {
    background: none;
    height: 0;
    display: none;
}

.ios .navbar-inner {
    padding-top: 0px;
}

.ios .navbar .left a {
    color: white;
}

.ios .navbar .f7-icons {
    font-size: 1rem;
    font-weight: bold;
}

.ios .subnavbar a.icon-only {
    min-width: 1.2rem;
}

.ios .subnavbar a.link {
    height: 1.3rem;
    line-height: 1.3rem;
}

.ios .page {
    background: #f5f5f5;
}

.ios .theme-dark .navbar,
.ios .theme-dark .list ul {
    background: none;
}

.ios .toolbar .tabbar-label,
.ios .toolbar .icon {
    color: #000;
}

.ios.device-pixel-ratio-3 .toolbar:before {
    transform: scaleY(0.7);
}

/* .ios .toolbar-inner {
    padding: 0;
} */

.ios .toolbar .icon {
    font-size: 25px;
    margin-top: -5px;
}

.ios .toolbar .tab-link .tabbar-label {
    font-size: 12px;
    margin-bottom: -2px;
}

.ios .theme-dark .page {
    background: white;
    color: black;
}

.ios .row .col-30 {
    width: 30% !important;
}

.ios .block {
    margin: 0;
}



.ios .block-title {
    margin-top: 16px;
}

html.with-panel-left-reveal .framework7-root>.view,
html.with-panel-left-reveal .panel-backdrop,
html.with-panel-left-reveal .views {
    transform: translate3d(8rem, 0, 0);
}

.ios .theme-dark .list ul:before,
.list.ios .theme-dark ul:before,
.ios .theme-dark .list ul:after,
.list.ios .theme-dark ul:after {
    background-color: inherit;
}

.ios .list ul:before,
.ios .list ul:after,
.ios .list ul:after {
    background-color: inherit;
}

.ios .block {
    color: #000;
}

.ios .theme-dark .links-list a.active-state,
.ios .theme-dark .list .item-link.active-state,
.ios .theme-dark .list .list-button.active-state,
.links-list.ios .theme-dark a.active-state,
.list.ios .theme-dark .item-link.active-state,
.list.ios .theme-dark .list-button.active-state {
    background: red !important;
}

.ios .theme-dark .list .item-link.active-state {
    background: none !important;
}

.line {
    position: relative;
}

.line::after {
    content: '';
    width: 86%;
    border-bottom: 1px solid #ded6d6;
    position: absolute;
    left: 0;
    bottom: -6px;
    margin-left: 7%;
}

.input-title {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

input.input-text {
    box-shadow: 0 1px 1px #37442d inset;
    border: 1px solid #ccc;
    padding: 0.2rem;
    margin-top: -0.16rem;
    width: 90%;
}

.input-desc {
    font-size: 0.5rem;
    margin-top: 10px;
    color: red;
    line-height: 1rem;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="number"],
select,
textarea {
    /* box-shadow: 0px 1px 2px #a7a7a7 inset; */
    /* border: 1px solid #dadada; */
    border-radius: 2px;
}

input::-webkit-input-placeholder {
    color: #c9c9c9;
    font-size: 0.55rem;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #c9c9c9;
    font-size: 0.8rem;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #c9c9c9;
    font-size: 0.8rem;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c9c9c9;
    font-size: 0.8rem;
}

.ios label.item-radio>.icon-radio {
    margin-right: 0.2rem;
}

.ios .list {
    margin: 0;
}

.ios .list .item-content {
    min-height: initial;
    padding-left: 0;
}



.ios .notification.modal-in,
.ios .notification.modal-out {
    width: 60%;
    margin-left: 20%;
}

.ios .notification-title {
    margin: 0 auto;
}

.ios .notification-header+.notification-content {
    margin: 0;
    display: none;
}



.ios .toolbar-bottom-md {
    background: #eeeeee;
}

/* .ios .toolbar-bottom-md    .tab-link.cur i::before{color: #9e0000;}

.ios .toolbar-bottom-md    .tab-link.cur   .tabbar-label{
        color: #9e0000!important;
      } */
.ios .list .item-link {
    position: relative;

}




.ios .link.active-state {
    opacity: 0.9 !important;
}

.panel {
    width: 8rem;
}



.navarbar-menu i {
    font-size: 24px;
}


.sumBtn.cur {
    background: #00BCD4 !important;
    color: #fff;
}

.ios .tabbar-labels .tab-link.cur span {
    color: #ed171f;
}

.ios .tabbar-labels .tab-link.cur i.icon {
    color: #ed171f;
}

.icon-backward.whiteBack:before {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.85rem
}

.icon-guanbi.whiteBack:before {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.25rem
}

/** 
 *  日历组件
*/
.vdatetime-popup {
    width: 334px;
    max-width: calc(100% - 24px);
}

.vdatetime-popup__header {
    padding: 18px 30px 10px;
}

.vdatetime-popup__year {
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 4px;
}

.vdatetime-calendar__month {
    padding: 0 12px;
}

.vdatetime-calendar__current--month {
    font-size: 18px;
}

.vdatetime-calendar__navigation--previous,
.vdatetime-calendar__navigation--next {
    top: 4px;
}

.vdatetime-calendar__navigation--previous svg,
.vdatetime-calendar__navigation--next svg {
    width: 10px;
}

.vdatetime-calendar__month__weekday {
    font-size: 16px;
}

.vdatetime-calendar__month__day {
    font-size: 24px;
}

.vdatetime-popup__actions__button--confirm {
    font-weight: bold;
}

.icon-home:before {
    background: url(../images/home/icon_home.png) no-repeat center;
    background-size: contain;
    content: "";
    height: 2rem;
    width: 2rem;

}

.ios .tabbar-labels .icon-home.cur:before {
    background-image: url(../images/home/icon_home_default.png)
}

/* .icon-kefu:before {
    background: url(../images/home/icon_customer.png) no-repeat center;
    background-size: contain;
    content: "";
    height: 2rem;
    width: 2rem;

} */

.ios .tabbar-labels .icon-kefu.cur:before {
    background-image: url(../images/home/icon_customer_default.png)
}

.icon-94:before {
    background: url(../images/home/icon_mail.png) no-repeat center;
    background-size: contain;
    content: "";
    height: 2rem;
    width: 2rem;

}

.ios .tabbar-labels .icon-94.cur:before {
    background-image: url(../images/home/icon_mail_default.png)
}

.icon-wode:before {
    background: url(../images/home/icon_personal.png) no-repeat center;
    background-size: contain;
    content: "";
    height: 2rem;
    width: 2rem;

}

.ios .tabbar-labels .icon-wode.cur:before {
    background-image: url(../images/home/icon_personal_default.png)
}

.ios .toolbar:before {
    height: 0;
    overflow: hidden;
}

.dialog-backdrop {
    z-index: 1000000000000;
}

.ios .dialog {
    z-index: 10000000000001;
}

.ios .toolbar .tabbar-label,
.ios .toolbar .icon {
    color: #2f2f2f;
}

.ios .toolbar .icon {
    font-size: 25px;
    margin-top: -5px;
}

.ios .toolbar {
    /* height: 2rem; */
    background: #ffffff !important;
    border-top: 1px solid #ebedf0;
}

.ios .toolbar-inner {
    height: 92%;
    top: 0.1rem;
    padding: 0;
}

.ios .tabbar-labels a.tab-link,
.ios .tabbar-labels a.link {
    padding-bottom: 2px;
}

.ios .toolbar .tab-link .tabbar-label {
    font-size: 10px;
    padding-top: 4px;
    margin-bottom: 0px;
}

/* .ios .tabbar-labels .tab-link.cur span{
    color: #ffc823;
} */
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cacaca;
    font-size: inherit;
}

input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
select:-moz-placeholder,
textarea :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cacaca;
    font-size: inherit;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
select::-moz-placeholder,
textarea ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cacaca;
    font-size: inherit;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #cacaca;
    font-size: inherit;
}

.framework7-root {
    max-width: 640px;
    margin: 0 auto;
}

.ios .navbar-hidden {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transition-duration: 0ms;
}

.ios .navbar {
    transition-duration: 0ms;
}

.md .navbar-transitioning {
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
}

.ios .navbar-transitioning {
    -webkit-transition-duration: 0ms;
    transition-duration: 0ms;
}