  @font-face {
    font-family: SFUIDisplay-Heavy;
    src: url("./SFUIDisplay-Heavy.otf");
  }
  @font-face {
  font-family: SFUIDisplay-Regular;
  src: url("./SFUIDisplay-Regular.otf");
  }
  html{
    background: #fb3221;
  }
  body{
    padding: 0;
    /* max-width: 3.6rem; */
    margin: 0 auto;
  }
  p{
    margin: 0;
    padding: 0;
  }
  /* .register{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    font-family: SFUIDisplay-Heavy;
    background: #fb3221;
  } */

  .fixed-invite-cont{
    /* position: absolute;
    bottom: 0.3rem;
    left: 0;
    right: 0; */
  }

  .big-img{
    width: 100%;
    text-align: center;
    margin-top: 0.28rem;
  }
  .big-img img{
    width: 2.06rem;
    text-align: center;
    margin: 0 auto;
  }
  .word{
    width: 97.77%;
    line-height: 0.3236rem;
    font-size: 0.18rem;
    margin: 0 auto;
    margin-top: 0.08rem;
  }
  .word p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
  }
  .word span{
    font-size: 0.24rem;
    text-decoration: underline;
  }
  .input{
    position: relative;
    width: 65%;
    height: 0.43rem;
    border: 1px solid #FFAE1E;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 0.2rem;
    background: #fff;
  }
  .input-letf{
    width: 0.18rem;
    float: left;
    margin: 0.03rem 0.17rem 0.11rem 0.17rem;
  }
  .input-letf img{
    width: 0.18rem;
    position: relative;
    top: 0.05rem;
  }
    .input-letf img.verify{
      width: 0.25rem;
      position: relative;
      top: 0.065rem;
      left: -0.03rem;
    }
  .input-right{
    float: left;
  }
  .input-right .getCode{
    position: absolute;
    right: 0.05rem;
    top: 0.1rem;
    color: #202020;
    font-size: 0.15rem;
    font-style: normal;
  }
  .input-right input{
    border: none;
    outline: medium;
    width: 1.2rem;
    height: 0.24rem;
    font-size: 0.16rem;
    color: #333;
    border-left: 1px solid #f44635;
    padding-left: 0.1rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin-top: 8px;

  }

  .input-right input::placeholder{
    color: #f96c30;
    font-size: 14px;
  }
  .submit,.popup-submit,.warn-submit{
    width: 50%;
    height: 0.4rem;
    margin: 0 auto;
    margin-top: 0.24rem;
    background: -webkit-linear-gradient(right,#ffc000,#ffd450);
    border-radius: 25px;
    text-align: center;
    color: #fff;
  }
  .submit span,.popup-submit span{
    font-size: 0.18rem;
    color: #fff;
    line-height: 0.4rem;
    display: block;
  }
  .submit span{
    color: #fa3a28;
  }
  .submit {
    animation: btn 0.7s infinite;
  }

  @keyframes btn
  {
    from {transform: scale(1.1);}
    to {transform: scale(0.9);}
  }

  .warn-submit span{
    font-size: 0.18rem;
    color: #fff;
    line-height: 0.4rem;
  }
  .bgcolor{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.52);
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
  }
  .popup,.warn-popup{
    width: 89.33%;
    height: 2.72rem;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 1.8rem;
    font-family: SFUIDisplay-Regular;
    /* overflow: hidden; */
    text-align: center;
  }
  .title{
    text-align: center;
    font-size: 0.24rem;
    color: #202020;
    padding-top: 0.18rem;
    font-family: SFUIDisplay-Heavy;
  }
  .content-1{
    margin: 0 auto;
    width: 80%;
    font-size: 0.18rem;
    color: #ffc000;
    text-align: center;
    line-height: 0.3236rem;
  }
  .content-1-p2{
  font-family: SFUIDisplay-Heavy;
  color: #FFAE1E;
  }
  .content-2{
    width: 77.91%;
    font-size: 0.2rem;
    color: #202020;
    line-height: 0.3236rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.1rem;
  }
  .content-3{
    width: 82.99%;
    font-size: 0.14rem;
    color: #999;
    line-height: 0.2589rem;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.1rem;
  }
  .warn-popup{
    margin-top: 2.2rem;
    width: 60%;
    height: 30%;
    text-align: center;
  }
  .warn-word{
    width: 100%;
    height: 100px;
    font-size: 0.2rem;
    padding-top: 30px;
  }
  .warn-submit{
    margin-top: 0;
    width: 60%;
    font-size: 0.1rem;
  }
  .warn,.success{
    display: none;
  }

  .toast-text{
    position: fixed;
    left: 10%;
    right: 10%;
    width: 80%;
    top: 40%;
    background: rgba(0,0,0,0.6);
    z-index: 1;
    border-radius: 25px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    display: none;
  }

  .icon-warn{
    position: absolute;
    right: 0.12rem;
    top: 0.12rem;
    display: block;
    width: 0.2rem;
    height: 0.2rem;
    background: url(../resource/icon-warn.png) no-repeat center;
    background-size: 0.2rem 0.2rem;
    animation: warn 0.1s 5;
    display: none;
  }

  @keyframes warn
  {
    from {transform: translateX(10px);}
    to {transform: translateX(-10px);}
  }

  .c-invite-share{
    width: 100%;
  }

  .icon-popup-success{
    position: relative;
    top: -0.3rem;
    width: 1rem;
  }

  .popup-submit {
    width: 70%;
  }

  .download-text{
    text-align: center;
    color: #fbf4f4;
    font-size: 12px;
    margin-top: 10px;
  }

.tips-mask {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  display: none;
}

.tips-pic {
  display: block;
  margin: 20% auto;
  width: 92%;
}
